:root{
    --header-height-int:100;
    --header-height:100px;
    --bg-grad-top:#583939;
    --bg-grad-bottom:#151313;
    --Text-color:#fff;
    --Text-size-standard:1em;
    --content-height:calc(100% - var(--header-height));
    --deactive-color: #f00;
    --active-color: #0f0;
    --queue-item-height:80px;
    --bg-grey:#333333;
}

html,body{
    overflow: hidden;
    padding: 0;
    margin:0;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, var(--bg-grad-top) 0%,  var(--bg-grad-bottom) 100%);
}

/*
    ID's go below
*/

#header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:var(--header-height);
    border-bottom: 2px solid #fff;
}

#content{
    position: absolute;
    top:var(--header-height);
    left:0;
    width:100%;
    height:var(--content-height);
}

#icon{
    height: calc(var(--header-height)*0.75);
    top: calc((var(--header-height)*0.25)/2);
    position: relative;
}
#Title{
    display: inline;
    font-size:  calc(var(--Text-size-standard)*(var(--header-height-int)/50));
    height: 100%;
    position: relative;
    bottom: calc(var(--header-height)/8);
    margin: 0;
}

#video-cont{
    display: flex;
    width: 100%;
    height: 50%;    
}

#queue-cont{
    width: 100%;
    height: 50%;
    border-top: 2px #fff solid;
    overflow:auto;
}

#video-cont-left{
    width: 50%;
    height: 100%;
    margin: 0;
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
}

#video-cont-right{
    width: 50%;
    height: 100%;
}


#form-cont{
    background-color: #4A3737;
    width: 70%;
    right: -15%;
    height: 70%;
    border-radius: 10px;
    border: 2px #fff solid;
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
}

#link {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 5px;
    background: none;
    border: none;
    border-bottom: 2px #fff solid;
    font-size: calc(var(--Text-size-standard)*(var(--header-height-int)/50));
    padding: 0;
    height: 80%;
    position: relative;
    top: 5%;
    text-align: center;
    line-height: 100%;
  }

  #link:active{
      
    outline: none;
    /*! border-bottom-color: var(--active-color); */
  }

  #MP3-button{

  }
  #vid-button{

    grid-column-start: 3;
  }
  #down-button{
      
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #thumbnail{
    image-rendering: optimizequality;
    height: 70%;
    width: 70%;
    position: relative;
    top: 5%;
    left: 15%;
    border: 2px #fff solid;
    border-radius: 10px;
  }
  #video-title{
      text-align: center;
  }
  /*
  Classes go below
  */
  .Text{
    font-family: Arial;
    font-size: var(--Text-size-standard);
    color: var(--Text-color)
}
.button-def {
    margin: 5px;
    width: 70%;
    left: 15%;
    position: relative;
    height: 70%;
    top: 10%;
    border: none;
    border-radius: 5px;
    background-color: var(--deactive-color);
    transition: all 0.5s ease-in-out;
}

